* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f2f4f8;
}

.contenedor {
    display: flex;
    height: 100vh;
}

/* NAV */
.nav {
    background-image: linear-gradient(170deg, #113055 50%, #ddd6c0 100%);
    color: #fff;
    flex: 1;
    max-width: 300px;
    padding: 20px;
}

.nav h2 {
    margin-bottom: 20px;
}

.nav ul {
    list-style: none;
}

.nav li {
    margin: 10px 0;
}

.nav a {
    text-decoration: none;
    color: rgb(180, 179, 179);
    transition: 0.3s;
}

/* CONTENIDO */
.contenido {
    flex: 4;
    padding: 30px;
    overflow-y: auto;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.tarjeta {
    padding: 25px;
    border-radius: 12px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.tarjeta:hover {
    transform:translatey(-10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

/* Estilos específicos para Mugiwaras */
.mugiwara {
    background: linear-gradient(135deg, #fff 0%, #d8dbdd 100%);
    border-left: 5px solid #5800ca;
}

.mugiwara h3 {
    color: #2c3e50;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.mugiwara p {
    color: #7f8c8d;
    font-size: 0.9em;
    font-weight: 500;
}

/* Estilo especial para el capitán */
.capitan {
    border-left: 5px solid #ffd54f;
    background: linear-gradient(135deg, #fff9c4 0%, #fff 100%);
}

.capitan h3 {
    color: #f39c12;
    font-size: 1.3em;
    font-weight: bold;
}

/* Colores alternos para variedad */
.tarjeta:nth-child(2n) {
    border-left-color: #057213;
}

.tarjeta:nth-child(3n) {
    border-left-color: #f5a700;
}

.tarjeta:nth-child(4n) {
    border-left-color: #583f35;
}

.tarjeta:nth-child(5n) {
    border-left-color: #eafa09;
}

.tarjeta:nth-child(6n) {
    border-left-color: #e40dc7;
}

.tarjeta:nth-child(7n) {
    border-left-color: #ba68c8;
}

.tarjeta:nth-child(8n) {
    border-left-color: #0f1dec;
}

.tarjeta:nth-child(9n) {
    border-left-color: #000000;
}

.tarjeta:nth-child(10n) {
    border-left-color: #0fc0ec;
}

/*imágenes dentro de tarjetas */
.tarjeta img {
    border-radius: 8px;
    box-shadow: 0 0 6px #9995;
    margin-bottom: 10px;
}

