* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 2px solid black;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f2f4f8;
}

.contenedor {
    display: flex;
    height: 100vh;
}

/* NAV */
.nav {
    background-image: linear-gradient(170deg, #113055 50%, #ddd6c0 100%);
    color: #fff;
    flex: 1;
    padding: 20px;
}

.nav h2 {
    margin-bottom: 20px;
}

.nav ul {
    list-style: none;
}

.nav li {
    margin: 10px 0;
}

.nav a {
    text-decoration: none;
    color: rgb(180, 179, 179);
    transition: 0.3s;
}

/* CONTENIDO */
.contenido {
    flex: 5;
    padding: 30px;
    overflow-y: auto;
    background-image: url('img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* Hace que la imagen cubra todo el área */
    background-position: center;
}

.galeria {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.tarjeta {
    margin-block: 10px;
    flex-wrap: wrap;
    align-items: center;
    /* Centra horizontalmente el contenido */
    justify-content: center;
    padding: 25px;
    text-align: start;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    text-align: center;
    justify-content: space-between;
}

.info {
    flex: 2;
    display: flex;
    justify-content: space-between;
}

.portada {
    flex: 1;
}

.tarjeta:hover {
    transform: translatey(-10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

/* Estilos específicos para Mugiwaras */

/*imágenes dentro de tarjetas */
.tarjeta img {
    border-radius: 8px;
    box-shadow: 0 0 6px #9995;
    margin-bottom: 10px;
    height: 225px;
}

/* Estilo especial para el capitán */
.mugiwara {
    background: linear-gradient(135deg, #fff 0%, #d8dbdd 100%);
    border-left: 5px solid #5800ca;
}

.mugiwara h3 {
    color: #2c3e50;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.mugiwara p {
    color: #7f8c8d;
    font-size: 0.9em;
    font-weight: 500;
}

/* Estilo especial para el capitán */
.capitan {
    border-left: 5px solid #9B000F;
}

.capitan h3 {
    color: #9B000F;
    font-size: 1.3em;
    font-weight: bold;
}

/* Colores alternos para variedad */
.tarjeta:nth-child(2n) {
    border-left-color: #057213;
}

.tarjeta:nth-child(3n) {
    border-left-color: #FC7823;
}

.tarjeta:nth-child(4n) {
    border-left-color: #583f35;
}

.tarjeta:nth-child(5n) {
    border-left-color: #B94225;
}

.tarjeta:nth-child(6n) {
    border-left-color: #1E7899;
}

.tarjeta:nth-child(7n) {
    border-left-color: #D6799D;
}

.tarjeta:nth-child(8n) {
    border-left-color: #00D4FC;
}

.tarjeta:nth-child(9n) {
    border-left-color: #000000;
}

.tarjeta:nth-child(10n) {
    border-left-color: #93BEDB;
}