* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    font-style: normal;
    /*outline: 2px solid black;*/
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f2f4f8;
}

.contenedor {
    display: flex;
    height: 100vh;
}

.nav {
    background-image: linear-gradient(170deg, #113055 50%, #ddd6c0 100%);
    color: #fff;
    flex: 1;
    padding: 20px;
}

.nav img {
    margin-bottom: 20px;
}

.nav ul {
    list-style: none;
}

.nav li {
    margin: 10px 0;
}

.nav a {
    text-decoration: none;
    color: rgb(180, 179, 179);
    transition: 0.3s;
}

.contenido {
    flex: 5;
    padding: 30px;
    overflow-y: auto;
    background-image: url('img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;      /* Hace que la imagen cubra todo el área */
    background-position: center; /* Centra la imagen */
}

.galeria {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.tarjeta {
    margin-block: 10px;
    flex-wrap: wrap;
    align-items: center;         /* Centra horizontalmente el contenido */
    justify-content: center;
    padding: 25px;
    text-align: start;
    background-color: #fff1d1;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    text-align: center;
    justify-content: space-between;
    overflow: hidden;
    max-height: 0;
    padding: 0; /* Asegura que el padding inicial sea 0 */
    transition: max-height 1s cubic-bezier(0.4,0,0.2,1), padding 1s cubic-bezier(0.4,0,0.2,1);
}

.descripcion {
    background-color: #efdfb9;
    padding: 1em;
    margin: 0.5em;
    flex: 2;
    display: block;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.descripcion p {
    width: 100%;
    padding: 10px;
    color: #111;
    box-sizing: border-box;
}

.imagenes {
    background-color: #fff1d1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding-block: 10px;
}

.imagenes img {
    margin-block: 1em;
}

.portada {
    background-color: #efdfb9;
    flex: 1;
    padding: 1.5em;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;    /* Centra horizontalmente */
    justify-content: center;/* Centra verticalmente */
    text-align: center;     /* Centra el texto dentro */
}

.portada img {
    margin-bottom: 1em;
}

.informacion {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px;
    width: 100%;
}

.row {
    display: flex;
    width: 100%;
}

.row p {
    flex: 1;
    padding: 10px;
    text-align: start;           /* Centra el texto dentro de los <p> */
    display: flex;
    align-items: center;
    border: 1px solid #000000;
}

.tarjeta:hover {
    transform:translatey(-10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.content img {
    height: 225px;
}

.mugiwara {
    border-left: 5px solid #9B000F;
    color: #9B000F;
}

.mugiwara h3 {
    margin-bottom: 5px;
    font-size: 2em;
    cursor: pointer;
}

.mugiwara p {
    font-size: 1.2em;
    font-weight: 500;
    width: 100%;
}

/* Colores alternos para variedad */
.tarjeta:nth-child(2n) {
    border-left-color: #057213;
    color: #057213;
}

.tarjeta:nth-child(3n) {
    border-left-color: #FC7823;
    color: #FC7823;
}

.tarjeta:nth-child(4n) {
    border-left-color: #583f35;
    color: #583f35;
}

.tarjeta:nth-child(5n) {
    border-left-color: #B94225;
    color: #B94225;
}

.tarjeta:nth-child(6n) {
    border-left-color: #1E7899;
    color: #1E7899;
}

.tarjeta:nth-child(7n) {
    border-left-color: #D6799D;
    color: #D6799D;
}

.tarjeta:nth-child(8n) {
    border-left-color: #00D4FC;
    color: #00D4FC;
}

.tarjeta:nth-child(9n) {
    border-left-color: #000000;
    color: #000000;
}

.tarjeta:nth-child(10n) {
    border-left-color: #93BEDB;
    color: #93BEDB;
}

.tarjeta.active .content {
    max-height: 1000em; /* Ajusta según el contenido máximo esperado */
    padding: .7rem 0;
    transition: max-height 0.5s cubic-bezier(0.4,0,0.2,1), padding 0.5s cubic-bezier(0.4,0,0.2,1);
}

.color {
    background-color: #9B000F;
    color: #fff;
}

.tarjeta:nth-child(2) .color {
    background-color: #057213;
}

.tarjeta:nth-child(3n) .color {
    background-color: #FC7823;
}

.tarjeta:nth-child(4n) .color {
    background-color: #583f35;
}

.tarjeta:nth-child(5n) .color {
    background-color: #B94225;
}

.tarjeta:nth-child(6n) .color {
    background-color: #1E7899;
}  

.tarjeta:nth-child(7n) .color {
    background-color: #D6799D;
}    

.tarjeta:nth-child(8n) .color {
    background-color: #00D4FC;
}   

.tarjeta:nth-child(9n) .color {
    background-color: #000000;
} 

.tarjeta:nth-child(10n) .color {
    background-color: #93BEDB;
}  